{% extends 'sale/index.html' %}

{% block title %}
    Eliminación de Ventas
{% endblock title %}

{% block content_sale %}
    <p class="fs-5 fst-italic">¿Confirm delete "{{ object }}"?</p>
    <form method="post">
        {% csrf_token %}
        <div class="d-grid gap-3">
            <button type="submit" class="btn btn-danger">Submit</button>

            {% url 'sale:index' as url %}
            {% include 'home/index_back.html' with link=url %}

        </div>
    </form>
{% endblock content_sale %}
